{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="{{ env.baseUrl }}css/page.css" as="style">
<!-- PRELOAD CDN SCRIPTS -->
<link rel="preconnect" href="https://unpkg.com/popper.js@1" as="script">
<link rel="preconnect" href="https://unpkg.com/tippy.js@4" as="script">
<script data-goatcounter="https://adaconf.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<link rel="icon" href="{{ env.baseUrl }}img/hexagons.png" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ description or site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="robots" content="index,follow">
<link rel="canonical" href="{{ absolutePageUrl }}">
<!-- BEGIN SOCIAL META DATA -->
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ title or site.title }}">
<meta property="og:description" content="{{ description  or site.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}">
{%- if image -%}
  <meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}">
{%- endif -%}
<!-- ./END SOCIAL META DATA -->
<meta name="theme-color" content="#ffffff">
<title>{{ title or site.title }} | {{ site.author }}</title>
{% if isFront %}
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
<style type="text/css">
        #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
{% endif %}
<link rel="stylesheet" href="{{ env.baseUrl }}css/page.css">
{% if not isFront %}
  <!-- include Normalize for regular text pages -->
  <link rel="stylesheet"  href="{{ env.baseUrl }}css/normalize.min.css">
{% endif %}