<div class="flex flex-col justify-center h-full py-12 sm:pt-40">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-purple-600 text-2xl mb-6">
        Introducing <span class="text-gray-800 font-bold tracking tracking-widest">ADAConf</span>
      </h1>
      <h2 class="font-bold tracking-widest text-4xl">
        Your community for:
      </h2>
      <span class="content__container block font-light text-browngray text-2xl my-5 py-12">
        <ul class="content__container__list">
          <li class="content__container__list__item xl:pl-3">Software</li>
          <li class="content__container__list__item xl:pl-3">Analysis</li>
          <li class="content__container__list__item xl:pl-3">Design</li>
          <li class="content__container__list__item xl:pl-3">Architecture</li>
          <li class="content__container__list__item xl:pl-3">Socio-technical Systems</li>
          <li class="content__container__list__item xl:pl-3">Collaboration</li>
          <li class="content__container__list__item xl:pl-3">Modelling</li>
        </ul>
      </span>
      <p class="font-bold tracking-widest sm:text-3xl text-xl">Rydges Melbourne CBD <a href="#map"><img class="inline-block" style="margin-top:-2px;height:30px" src="{{ env.baseUrl }}img/map.svg"></a><br/>Friday 8th Nov 2024<br/>9:00am-5:40pm</p>
    </div>
    <div class="w-full sm:w-1/3">
      <img class="float-right" src="{{ env.baseUrl }}img/hexagons.png" alt="ADAConf Hexagons">
    </div>
  </div>
</div>
<div class="mb-12 pb-12">
  <div class="flex flex-row w-full justify-center pb-12">
    <a class="px-10 py-2 text-gray-200 bg-blue-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
      data-goatcounter-click="trybooking.com"
      data-goatcounter-referrer="Head"
      href="{{site.tickets}}">
      Register
    </a>
  </div>
  <div class="flex flex-row w-full justify-center pb-6">
    <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#about">
      More Information
    </a>
  </div>
</div>