---
title: Contact Us
layout: page.njk
---
<div id="register" class="w-full min-h-screen flex flex-col justify-center items-center ">
    <div class="self-center w-full px-4 sm:px-0 border-b border-purple-600">
        <div class="font-light text-gray-800 text-xl">
            If you'd like to learn more about ADAConf, including questions about speaking, sponsoring or attending, please complete the form below and we'll get back to you shortly.
        </div>
        <form netlify class="w-full max-w-lg my-20 mx-auto" action="#" method="post" id="contact-form" target="_blank" validate  netlify-honeypot="bot-field" data-netlify-recaptcha="true">
            <div class="py-2">
                <p class="hidden">
                    <label>
                    Don’t fill this out if you’re human: <input name="bot-field" />
                    </label>
                </p>
                <div class="mb-4">
                    <input class="border w-full text-gray-200 focus:outline-none focus:bg-gray-300 focus:text-gray-800 focus:border-gray-400 mr-3 py-2 px-3" value="" name="FIRST_NAME" placeholder="Firstname" aria-label="First Name" required>
                </div>
                <div class="mb-4">
                    <input class="border w-full text-gray-200 focus:outline-none focus:bg-gray-300 focus:text-gray-800 focus:border-gray-400 mr-3 py-2 px-3" value="" name="LAST_NAME" placeholder="Lastname" aria-label="Last Name" required>
                </div>
                <div class="mb-4">
                    <input class="border w-full text-gray-200 focus:outline-none focus:bg-gray-300 focus:text-gray-800 focus:border-gray-400 mr-3 py-2 px-3" type="email" value="" name="EMAIL" placeholder="analysis@goodsoftware.example" aria-label="Email Address" required>
                </div>
                <div class="mb-4">
                    <textarea rows="5" class="border block w-full text-gray-200 focus:outline-none focus:bg-gray-300 focus:text-gray-800 focus:border-gray-400 mr-3 py-2 px-3" value="" name="MESSAGE" placeholder="Message" aria-label="Message" required></textarea>
                </div>
                <label class="block text-gray-800 text-left px-2 mt-4 mb-4" for="gdpr_37169">
                    <input class="leading-tight" type="checkbox" id="gdpr_37169" name="gdpr[37169]" value="Y" required>
                    <span class="text-md font-light">
                        I agree with the <a href="{{ env.baseUrl }}privacy" class="underline hover:no-underline hover:text-purple-600" title="Privacy Policy" target="_blank">Privacy Policy</a>
                    </span>
                </label>
                <div class="mb-4" data-netlify-recaptcha="true"></div>
                <div class="mb-4">
                    <button class="flex-shrink-0 bg-purple-600 border-purple-600 hover:bg-gray-800 hover:text-purple-600 border text-gray-200 py-2 px-4" type="submit" name="subscribe">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>